<div id ="wrapper" ng-controller="formController">

<div class="col-md-6">
    <div ng-include="'sidebar.html'"></div>
</div>

<div id="page-content-wrapper">

    <div class="text-center">
    <div class="container-fluid transbox">
        <div class="col-lg-12">
            <h3>Seating Arrangement</h3>
    <input type="search" class="form-control" ng-model="searchtext" placeholder="Enter Keywords" id="search">
    <table class="table">
        <thead>
        <tr>
            <th>TableNo</th>
            <th>Party Size</th>
            <th>Date</th>
            <th>Time</th>
            <th>Confirmation ID</th>
            <th>Delete Reservation</th>
            <th>Contact Info</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="guest in guests | filter:searchtext">
            <td>{{guest.tableno}}</td>
            <td>{{guest.partysize}}</td>
            <td>{{guest.date}}</td>
            <td>{{guest.time}}</td>
            <td>{{guest.id}}</td>
            <td><i class="fa fa-trash" data-ng-click="deleteGuest($index)"></i></td>
            <td class="text-center"><span class="fa fa-pencil-square-o" data-ng-click="guestsId($index)"></span></td>

        </tr>
        </tbody>
    </table>
</div>
</div>
        </div>
    </div>
</div>